<div class="devise-form" style="margin:2rem auto">
  <%= link_to root_path, class: "devise-form-brand" do %>
    shorty
  <% end %>

  <h2>Unlock account</h2>
  <p class="devise-form-subtitle">Enter your email to receive unlock instructions.</p>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "you@example.com" %>
    </div>

    <div class="actions">
      <%= f.submit "Send unlock instructions" %>
    </div>
  <% end %>

  <div class="devise-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
